.logo{
    width: 20%;
}
.header nav{
    background-color: black;
    padding:10px 0px;
    text-align: left;
}
.header a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 4px 10px;
}
.header a:hover{
    background-color:gray;
}